* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#demo {
    color: rgb(221, 218, 13);
    font-size: 20px;
}

img {
    width: 6%;
}

@keyframes example {
    0% {
        background-color: red;
        left: 0px;
        top: 0px;

    }

    25% {
        background-color: yellow;
        left: 200px;
        top: 0px;

    }

    50% {
        background-color: blue;
        left: 200px;
        top: 200px;

    }

    75% {
        background-color: green;
        left: 0px;
        top: 200px;

    }

    100% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
}

.dark {
    background-color: black;
    color: white;
    border: none;
    padding: 8px 36px;
    border-radius: 14px;
    box-shadow: 2px 2px 15px gray;
    cursor: pointer;
}

.light {
    background-color: white;
    color: black;

    border: none;
    padding: 8px 36px;
    border-radius: 14px;
    box-shadow: 2px 2px 1px gray;
    cursor: pointer;
}